.commentInputBlock {
    background-color: #310673;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 100%;
    padding: 30px 37px;
    height: 250px;
}
.commentInputBlock > div{
    background: #3A0587;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.commentInputAlert{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.commentInputAlert span{
    text-align: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
}
.commentInputAlert svg{
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    fill: #ffec00;
}
.commentInputAlert__link{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    white-space: nowrap;
    font-size: 18px;
    line-height: 27px;
    text-decoration: underline;
    color: #ffec00;
    text-align: center;
}
.commentInputBlock textarea{
    background-color: transparent;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgba(255,255,255,0.85);
    resize: none;
    font-size: 18px;
    border: none;
    min-height: 100px;
    line-height: 27px;
    height: calc(100% - 35px);
    width: 100%;
}
.commentInputBlock__btnContainer{
    display: flex;
    justify-content: flex-end;
}
.commentInputBlock textarea::placeholder{
    color: rgba(255,255,255,0.85);
}
.commentInputBlock button{
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    border: 0;

}
.commentInputBlock button:active svg{
    fill: white;
}
@media(min-width: 768px){
    .commentInputAlert span{
        max-width: 50%;
    }
}
@media (max-width: 568px){
    .commentInputBlock{
        padding: 20px;
        height: 230px;
    }
    .commentInputBlock > div{
        padding: 20px 20px 10px;
    }
}
