html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #3A0587;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}
