.sidebar{
    width: 320px;
    right: 0;
    background-color: white;
    height: 100vh;
    top: 0;
    z-index: 3;
    position: fixed;
    transform: translateX(320px);
    transition: 0.5s ease-in-out;
    padding-top: 150px;
    color: black;
}
.sidebar a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin-left: 50px;
}
.sidebar_active{
    transform: translateX(0) !important;
}
@media (max-width: 560px){
    .sidebar{
        width: 100vw;
        transform: translateX(100vw)
    }
}
